/* SITE MAIN COLOUR

#4b6584

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
    color:#4b6584;
    background-color: #f4f4f4;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    line-height: 120%;
}


/*----------- REUSABLE COMPONENTS ------------ */

.row {
    max-width: 1170px;
    margin: 0 auto;
}
 
.title-row {
    max-width: 80%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 200%;
    padding: 50px;
    border-bottom: 1px solid #4b6584;
    text-transform: uppercase;
}

h3 {
    font-size: 140%;
}

/*----------- HOME ------------ */

.home-row {
    margin: 0 auto;
    margin-right: 20px;
}


.home-text {
    position: absolute;
    width: 700px;
    top: 80%;
    left: 20%;
    color: #fff;
    font-size: 150%;
    word-spacing: 3px;
    line-height: 150%;
}

/*----------- HEADER ------------ */

header {
    padding-bottom: 55px;
    background-color: #4b6584;
    color: #fff;
}

.dropMenu {
    position: absolute;
    width: 200px;
    height: 280px;
    z-index: 1;
    background: #4b6584;
    opacity: 0.96;
    list-style: none;
    top: 12%;
    right: 1%;
    border: 2px solid#384c64;
    border-radius: 5px;
}

.dropMenu li {
    padding: 20px;
    font-size: 130%;
    cursor: pointer;
    text-align: center;
}
.dropMenu a:first-child {
    padding-right: 20px;
}

.row-header {
    margin: 0 3% 0 10%;
    padding: 0;
}

.row-header a:link,
.row-header a:visited {
    text-decoration: none;
    color: #fff;
}

.name {
    float: left;
    font-weight: 300;
    font-size: 130%;
    cursor: pointer;
    padding-top: 14px;
    color: rgb(204, 205, 209);
}

.nav {
    float: right;
    list-style: none;
    font-size: 110%;
    color: #fff;
}

.nav li {
    display: inline-block;
    margin-left: 40px;
    -webkit-transition: font-weight 0.2s;
    transition: font-weight 0.2s;
    cursor: pointer;
}

.nav li a:link,
.nav li a:visited {
    text-decoration: none;
    color: #fff;
}

.nav li:hover {
    font-weight: bold;
}

.logo {
    height: 35px;
    width: auto;
    border: 0px solid #4b6584;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
    padding-top: 10px;
}

.logo:hover {
    border: 1px solid #4b6584;
}


/*----------- PORTFOLIO ------------ */

.conatiner {
    max-width: 80%;
}

.tile {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}


.col {
	display: block;
    float:left;
    text-align: center;
    margin: 40px 20px 40px 20px ;
    width: 45%;
}

.col p,
.col h3 {
    padding-top: 20px;
    padding-left: 30px;
    text-align: left;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.span-1-of-2 {
	width: 45%;
}


.tile img {
    width: 400px;
    height:auto;
    max-width: 100%;
    float: right;
    border-radius: 10px;    
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*----------- INTERESTS ------------ */

.interests {
    padding-top: 100px;
    position: center;
}

.row ul {
    width: 80%;
    margin: 0 auto;
}

.interests-showcase {
    list-style: none;
    width: 100%;
}

.interests-showcase li {
    float: left;
    display: block;
    width: 16.6%;
    cursor: pointer;
    padding-bottom: 10px;
}

.interest-pic {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.interest-pic img {
    opacity: 0.7;
    width:100%;
    height: 200px;
    background-size: cover;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.interest-pic img:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
	opacity: 1;
}

.interest-text {
    padding-top: 5%;
    width:45%;
    text-align: justify;
    word-spacing: 3px;
    letter-spacing: 1px;
}

/*----------- CONTACT ------------ */

form {
    margin: 0 auto;
    width: 50%;
    padding-top: 40px;
}

.col-form {
    display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.span-1-of-3 {
	width: 30%;
}

.span-2-of-3 {
    width: 60%;
}

input,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
}

textarea {
    height: 100px;
    font-family: inherit;
}

input[type = submit] {
    width: 30%;
    padding: 10px 10px;
    background-color: #4b6584;
    color: #fff;
    border-radius: 200px;
}

/*----------- CERTIFICATIONS ------------ */
.cert-container {
    width: 80%;
    margin: 0 auto;
    -webkit-box-align: center;
            align-items: center;
}

.cert-img {
    height: 300px;
    width: auto;
    -webkit-box-pack: center;
            justify-content: center;
}

p em {
    font-size: 80%;
}